<nav class="navbar has-shadow is-primary">
    <div class="navbar-brand">
        <a href="/" class="navbar-item is-size-5">Tobias Almroth</a>

        <button class="button navbar-burger is-primary" id="navBurger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>

    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
            <a href="/" class="navbar-item">Hem</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a href="/reports/kmom01" class="navbar-link">Redovisningar</a>

                <div class="navbar-dropdown">
                    <a href="/reports/kmom01" class="navbar-item">Kmom 01</a>
                    <a href="/reports/kmom02" class="navbar-item">Kmom 02</a>
                    <a href="/reports/kmom03" class="navbar-item">Kmom 03</a>
                    <a href="/reports/kmom04" class="navbar-item">Kmom 04</a>
                    <a href="/reports/kmom05" class="navbar-item">Kmom 05</a>
                    <a href="/reports/kmom06" class="navbar-item">Kmom 06</a>
                    <a href="/reports/kmom10" class="navbar-item">Kmom 07/10</a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <a href="/about" class="navbar-item">Om sidan</a>
            <a href="https://github.com/almrooth/ramverk2" class="navbar-item"><span class="icon is-medium"><i class="fa fa-github fa-lg"></i></span></a>
        </div>
    </div>
</nav>