<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}} | Fågelrapporten</title>
</head>
<body>
    {{>header}}

    <main>
        {{{body}}}
    </main>

    {{>footer}}

    <script src="/js/main.js"></script>
</body>
</html>
