<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <h1 class="title">Min me-sida</h1>
                <h2 class="subtitle">för kursen ramverk2</h2>
            </div>
        </div>
        
        <div class="columns">
            <div class="column is-4 is-offset-2 content">
                
                <div class="content">
                    <p>
                        Hej och välkommen till min sida för kursen "ramverk2" vid Blekinge Tekniska Högskola.
                        Kursen är en del av programmet Webbprogrammering som är ett 2-årigt distansprogram i programmering för webben.
                    </p>

                    <p>
                        Jag går det här programmet med förhoppningen att i slutändan skapa mig en ny framtid som webbutvecklare.
                    </p>

                    <p>Vid sidan av studierna arbetar jag vid en myndighet i Stockholm där jag också bor samt tycker om att träna, resa och äta god mat.
                        När det kommer till träningen blir det oftast något konditionsrelaterat som cykling, löpning eller simning.
                    </p>
                </div>
            </div>

            <div class="column is-4 content">
                <figure class="image index-me">
                    <img src="/img/me.jpg" alt="">
                </figure>
            </div>
        </div>
    </div>
</section>