<section class="section">
    <div class="container">
        <h1 class="title">Om Fågelrapporten</h1>

        <div class="columns">
            <div class="column content">
                <p>Om Fågelrapporten</p>
                <p>Sidan fågelrapporten är ett projekt skapat av Tobias Almroth under kursen ramverk2 vid Blekinge Tekniska Högskola.</p>
                <p>Sidan är byggd mestadels i JavaScript och använder sig av ramverket Express.js för back-end och server-side rendering av vyer som är skrivna i templatespråket Handlebars.</p>
                <p>Sidans data lagras i en MongoDB databas och disskusions-chatten använder sig av webbsockets.</p>
            </div>
            <div class="column">
                <img src="/img/about.jpg" alt="">
            </div>
        </div>
    </div>
</section>
