<section class="section">
    <div class="container">
        <h1 class="title">Fågelrapporten</h1>

        <div class="columns">
            <div class="column content">
                <p>Välkommen till Fågelrapporten!</p>
                <p>Vi är ett blivande community som riktar in oss på ornitologer överallt. Vi hoppas kunna erbjuda en bra plattform för dig att registrera dina fågelobservationer på.</p>
                <p>Vi erbjuder även en chat för disskution med våra medlemmar.</p>
                <p>Ge oss en chans - bli medlem idag :)</p>
            </div>
            <div class="column">
                <img src="/img/front.jpg" alt="">
            </div>
        </div>
    </div>
</section>
